{{define "footer"}}
<footer>
    <div id="f1">
        <svg class="ftr-svg-spin"><use xlink:href="#spinner"></use></svg>
        <h1>Saving...</h1>
    </div>
    <div id="f2">
        <button id="b1" type="button" name="button">Reset</button>
        <button id="b2" type="button" name="button">Save</button>
    </div>
</footer>
{{end}}