<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Above the fold</title>
    <!-- We haven't learned how to serve files yet -->
</head>
    <body>

    {{template "svg"}}

    {{template "main"}}

    {{template "footer"}}

    </body>
</html>

